<figure class="md:h-[200px] w-[60%] md:w-full bg-white flex flex-col md:flex-row shadow">
  <img src="###IMAGEPATH###" alt="hotel" class="md:h-full aspect-square">
  <figcaption class="md:flex flex-row md:flex-col justify-between w-full m-2">
    <div>
      <p class="text-orange-600 font-bold"><span class="text-black">Rating</span> ###RATING###⭐</p>
      <h2 class="font-light">###NAME###</h2>
    </div>
    <p class="md:text-right font-bold text-orange-600">from ###PRICE###</p>
  </figcaption>
</figure>