<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>###TITEL###</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-100 mx-auto mt-3 w-[90%]">
<h1 class="uppercase text-orange-600 heading-font text-3xl sm:text-4xl text-center">Book one of the most popular hotels</h1>
<section class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full my-3 justify-items-center">
    ###HOTELS###
</section>
</body>
</html>